body {
  background-color: brown;
  background-image: url(826ecd9cae36637eca2e4bc97d0fee82.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.botao {
  background-color: #19B3E6;
  color: #FFFFFF;
  font-size: 26px; }

